# Bỏ qua thư mục build (Rác nặng nhất)
[Bb]in/
[Oo]bj/

# Bỏ qua file cấu hình riêng của máy bạn (User settings)
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Bỏ qua các file log và tạm thời
*.log
*.tmp