USE [master]
GO
/****** Object:  Database [QuanLySinhVien]    Script Date: 12/6/2025 4:59:36 PM ******/
CREATE DATABASE [QuanLySinhVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLySinhVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLySinhVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLySinhVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLySinhVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLySinhVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLySinhVien]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 12/6/2025 4:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[MaGV] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[MaKhoa] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocPhi]    Script Date: 12/6/2025 4:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocPhi](
	[MaSV] [varchar](20) NOT NULL,
	[TongHocPhi] [decimal](18, 0) NULL,
	[DaDong] [decimal](18, 0) NULL,
	[ConNo]  AS ([TongHocPhi]-[DaDong]),
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KetQua]    Script Date: 12/6/2025 4:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KetQua](
	[MaSV] [varchar](20) NOT NULL,
	[MaLopHP] [varchar](20) NOT NULL,
	[DiemQT] [float] NULL,
	[DiemThi] [float] NULL,
	[DiemTongket] [float] NULL,
	[GhiChu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[MaLopHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 12/6/2025 4:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[MaKhoa] [varchar](10) NOT NULL,
	[TenKhoa] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 12/6/2025 4:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[MaLop] [varchar](10) NOT NULL,
	[TenLop] [nvarchar](100) NOT NULL,
	[MaKhoa] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHocPhan]    Script Date: 12/6/2025 4:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHocPhan](
	[MaLopHP] [varchar](20) NOT NULL,
	[MaMon] [varchar](10) NULL,
	[MaGV] [varchar](10) NULL,
	[HocKy] [nvarchar](20) NULL,
	[NamHoc] [int] NULL,
	[PhongHoc] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLopHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 12/6/2025 4:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMon] [varchar](10) NOT NULL,
	[TenMon] [nvarchar](100) NOT NULL,
	[SoTinChi] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 12/6/2025 4:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[SoDienThoai] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[MaLop] [varchar](10) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/6/2025 4:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](100) NOT NULL,
	[Quyen] [nvarchar](20) NOT NULL,
	[MaNguoiDung] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[GiangVien] ([MaGV], [HoTen], [SoDienThoai], [Email], [MaKhoa]) VALUES (N'123', N'TRan minh Khnag', N'123123', N'', N'CNTT')
GO
INSERT [dbo].[HocPhi] ([MaSV], [TongHocPhi], [DaDong]) VALUES (N'123', CAST(5000000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)))
INSERT [dbo].[HocPhi] ([MaSV], [TongHocPhi], [DaDong]) VALUES (N'adas', CAST(5000000 AS Decimal(18, 0)), CAST(500000 AS Decimal(18, 0)))
INSERT [dbo].[HocPhi] ([MaSV], [TongHocPhi], [DaDong]) VALUES (N'SV001', CAST(5000000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)))
GO
INSERT [dbo].[KetQua] ([MaSV], [MaLopHP], [DiemQT], [DiemThi], [DiemTongket], [GhiChu]) VALUES (N'123', N'LHP_CSDL', 0, 0, 0, NULL)
INSERT [dbo].[KetQua] ([MaSV], [MaLopHP], [DiemQT], [DiemThi], [DiemTongket], [GhiChu]) VALUES (N'123', N'LHP_LTR', 0, 0, 0, NULL)
INSERT [dbo].[KetQua] ([MaSV], [MaLopHP], [DiemQT], [DiemThi], [DiemTongket], [GhiChu]) VALUES (N'SV001', N'LHP_CSDL_01', 8, 7.5, 7.65, NULL)
GO
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa]) VALUES (N'CNTT', N'Công Nghệ Thông Tin')
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa]) VALUES (N'KT', N'Kinh Tế')
GO
INSERT [dbo].[Lop] ([MaLop], [TenLop], [MaKhoa]) VALUES (N'62TH1', N'Công nghệ thông tin K62', N'CNTT')
GO
INSERT [dbo].[LopHocPhan] ([MaLopHP], [MaMon], [MaGV], [HocKy], [NamHoc], [PhongHoc]) VALUES (N'LHP_CSDL', N'CSDL', NULL, N'HK1', 2024, NULL)
INSERT [dbo].[LopHocPhan] ([MaLopHP], [MaMon], [MaGV], [HocKy], [NamHoc], [PhongHoc]) VALUES (N'LHP_CSDL_01', N'CSDL', NULL, N'HK1', 2024, N'P.202')
INSERT [dbo].[LopHocPhan] ([MaLopHP], [MaMon], [MaGV], [HocKy], [NamHoc], [PhongHoc]) VALUES (N'LHP_LTR', N'LTR', NULL, N'HK1', 2024, NULL)
GO
INSERT [dbo].[MonHoc] ([MaMon], [TenMon], [SoTinChi]) VALUES (N'CSDL', N'Cơ sở dữ liệu', 3)
INSERT [dbo].[MonHoc] ([MaMon], [TenMon], [SoTinChi]) VALUES (N'LTR', N'Lập trình C#', 4)
GO
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SoDienThoai], [Email], [HinhAnh], [MaLop], [TrangThai]) VALUES (N'123', N'Nguyen Van B', CAST(N'2025-12-04' AS Date), N'Nam', N'', N'', N'', NULL, N'62TH1', 1)
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SoDienThoai], [Email], [HinhAnh], [MaLop], [TrangThai]) VALUES (N'adas', N'ádas', CAST(N'2025-12-04' AS Date), N'Nam', N'', N'', N'', NULL, N'62TH1', 1)
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SoDienThoai], [Email], [HinhAnh], [MaLop], [TrangThai]) VALUES (N'SV001', N'Nguyễn Văn A', CAST(N'2003-01-01' AS Date), N'Nam', N'ăda', N'', N'', NULL, N'62TH1', 1)
GO
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [Quyen], [MaNguoiDung]) VALUES (N'admin', N'123', N'Admin', NULL)
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [Quyen], [MaNguoiDung]) VALUES (N'gv01', N'1', N'GiangVien', N'GV001')
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [Quyen], [MaNguoiDung]) VALUES (N'sv001', N'123', N'SinhVien', N'SV001')
GO
ALTER TABLE [dbo].[HocPhi] ADD  DEFAULT ((5000000)) FOR [TongHocPhi]
GO
ALTER TABLE [dbo].[HocPhi] ADD  DEFAULT ((0)) FOR [DaDong]
GO
ALTER TABLE [dbo].[SinhVien] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[GiangVien]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[HocPhi]  WITH CHECK ADD FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[KetQua]  WITH CHECK ADD FOREIGN KEY([MaLopHP])
REFERENCES [dbo].[LopHocPhan] ([MaLopHP])
GO
ALTER TABLE [dbo].[KetQua]  WITH CHECK ADD FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonHoc] ([MaMon])
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiangVien] ([MaGV])
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD FOREIGN KEY([MaLop])
REFERENCES [dbo].[Lop] ([MaLop])
GO
ALTER TABLE [dbo].[KetQua]  WITH CHECK ADD CHECK  (([DiemQT]>=(0) AND [DiemQT]<=(10)))
GO
ALTER TABLE [dbo].[KetQua]  WITH CHECK ADD CHECK  (([DiemThi]>=(0) AND [DiemThi]<=(10)))
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD CHECK  (([SoTinChi]>(0)))
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD CHECK  (([GioiTinh]=N'Nữ' OR [GioiTinh]=N'Nam'))
GO
USE [master]
GO
