USE [master]
GO
/****** Object:  Database [QuanLySinhVien]    Script Date: 12/9/2025 12:40:43 AM ******/
CREATE DATABASE [QuanLySinhVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLySinhVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLHOC\MSSQL\DATA\QuanLySinhVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLySinhVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLHOC\MSSQL\DATA\QuanLySinhVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLySinhVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLySinhVien]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 12/9/2025 12:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[MaGV] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[SoDienThoai] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[MaKhoa] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocPhi]    Script Date: 12/9/2025 12:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocPhi](
	[MaSV] [varchar](20) NOT NULL,
	[TongHocPhi] [decimal](18, 0) NULL,
	[DaDong] [decimal](18, 0) NULL,
	[ConNo]  AS ([TongHocPhi]-[DaDong]),
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KetQua]    Script Date: 12/9/2025 12:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KetQua](
	[MaSV] [varchar](20) NOT NULL,
	[MaLopHP] [varchar](20) NOT NULL,
	[DiemQT] [float] NULL,
	[DiemThi] [float] NULL,
	[DiemTongKet] [float] NULL,
	[GhiChu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[MaLopHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 12/9/2025 12:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[MaKhoa] [varchar](10) NOT NULL,
	[TenKhoa] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 12/9/2025 12:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[MaLop] [varchar](10) NOT NULL,
	[TenLop] [nvarchar](100) NOT NULL,
	[MaKhoa] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHocPhan]    Script Date: 12/9/2025 12:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHocPhan](
	[MaLopHP] [varchar](20) NOT NULL,
	[MaMon] [varchar](10) NULL,
	[MaGV] [varchar](10) NULL,
	[HocKy] [nvarchar](20) NULL,
	[NamHoc] [int] NULL,
	[PhongHoc] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLopHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 12/9/2025 12:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMon] [varchar](10) NOT NULL,
	[TenMon] [nvarchar](100) NOT NULL,
	[SoTinChi] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 12/9/2025 12:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[SoDienThoai] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[MaLop] [varchar](10) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/9/2025 12:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](100) NOT NULL,
	[Quyen] [nvarchar](20) NOT NULL,
	[MaNguoiDung] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[GiangVien] ([MaGV], [HoTen], [GioiTinh], [SoDienThoai], [Email], [DiaChi], [MaKhoa]) VALUES (N'GV01', N'Trần Minh Khang', N'Nam', N'0988888888', N'khang@gmail.com', N'Hà Nội', N'CNTT')
GO
INSERT [dbo].[KetQua] ([MaSV], [MaLopHP], [DiemQT], [DiemThi], [DiemTongKet], [GhiChu]) VALUES (N'1', N'LHP_CSDL', 7.5, 7.5, 7.5, NULL)
INSERT [dbo].[KetQua] ([MaSV], [MaLopHP], [DiemQT], [DiemThi], [DiemTongKet], [GhiChu]) VALUES (N'1', N'LHP_LTR', 7.5, 7.5, 7.5, NULL)
INSERT [dbo].[KetQua] ([MaSV], [MaLopHP], [DiemQT], [DiemThi], [DiemTongKet], [GhiChu]) VALUES (N'111', N'LHP_CSDL', 1, 2, 1.7, NULL)
GO
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa]) VALUES (N'CNTT', N'Công Nghệ Thông Tin')
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa]) VALUES (N'KT', N'Kinh Tế')
GO
INSERT [dbo].[Lop] ([MaLop], [TenLop], [MaKhoa]) VALUES (N'12', N'12312', N'KT')
INSERT [dbo].[Lop] ([MaLop], [TenLop], [MaKhoa]) VALUES (N'62TH1', N'Công nghệ thông tin K62', N'CNTT')
GO
INSERT [dbo].[LopHocPhan] ([MaLopHP], [MaMon], [MaGV], [HocKy], [NamHoc], [PhongHoc]) VALUES (N'LHP_CSDL', N'CSDL', N'GV01', NULL, 2024, NULL)
INSERT [dbo].[LopHocPhan] ([MaLopHP], [MaMon], [MaGV], [HocKy], [NamHoc], [PhongHoc]) VALUES (N'LHP_LTR', N'LTR', N'GV01', NULL, 2024, NULL)
GO
INSERT [dbo].[MonHoc] ([MaMon], [TenMon], [SoTinChi]) VALUES (N'CSDL', N'Cơ sở dữ liệu', 3)
INSERT [dbo].[MonHoc] ([MaMon], [TenMon], [SoTinChi]) VALUES (N'LTR', N'Lập trình C#', 4)
GO
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SoDienThoai], [Email], [HinhAnh], [MaLop], [TrangThai]) VALUES (N'1', N'CẶC', CAST(N'2025-12-09' AS Date), N'Nam', N'1111', N'11111', N'11111', NULL, N'62TH1', 1)
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SoDienThoai], [Email], [HinhAnh], [MaLop], [TrangThai]) VALUES (N'111', N'nhi', CAST(N'2025-12-08' AS Date), N'Nữ', N'1', N'123', N'eeeee', NULL, N'62TH1', 1)
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SoDienThoai], [Email], [HinhAnh], [MaLop], [TrangThai]) VALUES (N'1123', N'cò', CAST(N'2025-12-08' AS Date), N'Nữ', N'12312', N'22223', N'qqqqqqq', NULL, N'62TH1', 1)
GO
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [Quyen], [MaNguoiDung]) VALUES (N'admin', N'123', N'admin', NULL)
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [Quyen], [MaNguoiDung]) VALUES (N'sv001', N'123', N'sinhvien', N'SV001')
GO
ALTER TABLE [dbo].[HocPhi] ADD  DEFAULT ((5000000)) FOR [TongHocPhi]
GO
ALTER TABLE [dbo].[HocPhi] ADD  DEFAULT ((0)) FOR [DaDong]
GO
ALTER TABLE [dbo].[SinhVien] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[GiangVien]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[HocPhi]  WITH CHECK ADD FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[KetQua]  WITH CHECK ADD FOREIGN KEY([MaLopHP])
REFERENCES [dbo].[LopHocPhan] ([MaLopHP])
GO
ALTER TABLE [dbo].[KetQua]  WITH CHECK ADD FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonHoc] ([MaMon])
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiangVien] ([MaGV])
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD FOREIGN KEY([MaLop])
REFERENCES [dbo].[Lop] ([MaLop])
GO
ALTER TABLE [dbo].[KetQua]  WITH CHECK ADD CHECK  (([DiemQT]>=(0) AND [DiemQT]<=(10)))
GO
ALTER TABLE [dbo].[KetQua]  WITH CHECK ADD CHECK  (([DiemThi]>=(0) AND [DiemThi]<=(10)))
GO
USE [master]
GO
